@media only screen and (max-width: 550px)
{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        background-image: url("./img/backgroud-inicio.jpg");
    }

    header{
        width: 100vw;
        height: 120px;
        display: flex;
    }

    img{
        width: 100%;
        height: 100%;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }

    a{
        text-decoration: none;
        color: #000;
    }

    h2{
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        width: 90px;
    }

    #img-header{
        width: 100px;
        height: 100px;
        margin: 15px 0px 0px 20px;
    }

    #conteudo-header{
        display: block;
    }

    .busca input{
        width: 220px;
        height: 25px;
        background-color: #fff;
        margin: 20px 0px 0px 40px;
        border-radius: 3px;
        display: flex;
    }

    .busca span{
        position: relative;
        left: 50px;
        bottom: 25px;
        font-size: 0.7rem;
        color: #6d6d6d;
        pointer-events: none;
        transition: 1s;
    }

    .busca input:valid ~ span,.busca input:focus ~ span{
        left: 170px;
        visibility: collapse;
    }

    .busca img{
        width: 17px;
        height: 17px;
        position: relative;
        left: 170px;
        bottom: 21px;
    }

    #menu{
        width: 220px;
        display: flex;
        margin: 8px 0 0 40px;
    }

    #inicio{
        width: 70px;
        height: 60px;
        background-color: #fff;
        border-radius: 3px;
        display: block;
    }

    #inicio img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: 2px;
    }

    #inicio p{
        width: 60px;
        padding-left: 10px;
    }

    #viagens{
        width: 70px;
        height: 60px;
        margin-left: 5px;
        border-radius: 3px;
        background-color: #fff;
    }

    #viagens img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: 2px;
    }

    #viagens p{
        font-size: 0.95rem;
        width: 60px;
        padding-left: 2px;
    }

    #social{
        width: 70px;
        height: 60px;
        margin-left: 5px;
        border-radius: 3px;
    }

    #social img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-top: 2px;
    }

    #social p{
        width: 60px;
        padding-left: 6px;
    }

    nav{
        width: 100vw;
        height: 50px;
        background-color: #fff;
        margin-top: 18px;
        display: flex;
        background-color: rgba(0.25,0.25,0.25,0.25);
        border-bottom: solid 2px #000;
    }

    h2{
        font-size: 1.2rem;
        width: 90px;
    }

    #amigos{
        padding-top: 15px;
        padding-left: 30px;
    }

    #grupos{
        padding-top: 15px;
        padding-left: 30px;
    }

    #viajantesProximos{
        padding-top: 5px;
        padding-left: 30px;
    }

    #viajantesProximos h2{
        font-size: 1.1rem;
        font-family: sans-serif;
        color: #fff;
    }

    .container{
        height: 652px;
        background-color: rgba(0.25,0.25,0.25,0.75);
    }

    .container h2{
    position: absolute;
    width: 290px;
    height: 30px;
    left: 18px;
    top: 271px;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0.25,0.25,0.25,0.25);

    }

    .container img{
    position: absolute;
    width: 360px;
    height: 340px;
    left: 16px;
    top: 316px;
    border-radius: 15px;

    }
}